
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px; 
}

/* Behållare för hela spelet */
.game-container {
    background-color: navy;
    width: 100vw;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Stil för spelet */
.game {
    background-color: #fff;
    width: 56em; 
    height: 29.5em; 
    padding: 1.25em;
    border-radius: 0.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* För att positionera "Mode" och "Life" */
   
}

/* Positionering för "Mode" */
.mode {
    position: absolute;
    top: 0.5em; 
    right: 1em; 
    color: navy;
    font-size: 1rem;
    font-weight: bold;
}

/* Positionering för "Life" */
.life {
    position: absolute;
    top: 0.5em; 
    left: 1em; 
    color: navy;
    font-size: 1rem;
    font-weight: bold;
}
b{
    color: green;
}

/* Sektion för Hangman och rubriken */
.hangman {
    text-align: center;
    margin-bottom: 1em;
}

.hangman h1 {
    margin-bottom: 0.6em;
    font-size: 2rem;
}

.hang-image {
    max-width: 120px; 
    height: auto;
}

/* Sektion för ordet som ska gissas */
.word {
    margin-bottom: 1.2em;
}

/* Stil för bokstäverna */
.word-display {
    display: flex;
    justify-content: center;
    gap: 0.3em;
}

.word-display li {
    width: 1.5em;
    height: 1.5em;
    border-bottom: 2px solid black;
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
}

/* Stil för tangentbordet */
.keyboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-bottom: 1.25em;
}

/* Grundstil för knappar */
button {
    width: 3em;
    height: 2.5em;
    border-radius: 5px;
    border: none;
    background-color: rgb(10, 23, 89);
    color: #fff;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    
}

button:hover {
    background-color: rgb(176, 180, 41);
}


