/* Global settings */

body {
	background-color: white;
	font-family: "Chewy", system-ui;
}



/*h1*/
.hangman-h1 {
	text-align: center;
	font-size: 8rem;
}

/* Main menu */
.main-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Username input */
.username {
	display: flex;
	justify-content: center;
	padding: 2em;
}



/* Difficulty selection */
.difficulty-selection {
	display: flex;
	justify-content: center;
	gap: 24px;
	padding: 2em;
}

/* Start section */
.start-section {
	display: flex;
	justify-content: center;
	padding: 2em;
}

/* Buttons */


.leaderboard-container {
    display: flex;
    justify-content: center;
   
}

.leaderboard-btn {
    

    background-color: rgb(167, 164, 164);
    color: rgb(46, 37, 37);
    border: none;
    border-radius: 5px;
    padding: 0.7em;
    cursor: pointer;
    font-size: 1rem;
    width: auto;
    height: auto;
    font-family: inherit;
  }
  
  .leaderboard-container > .leaderboard-button:hover {
    background-color: #008805;
  }

.easy {
	background-color: rgb(9, 190, 9);
}

.medium {
	background-color: yellow;
	color: black;
}

.hard {
	background-color: red;
}

.start {
	background-color: blueviolet;
	font-size: 40px;
	cursor: pointer;
	color: black; 
	font-family: inherit;
	width: 20rem;
}

.leaderboard-container > .leaderboard-button {
	background-color: rgb(167, 164, 164);
    color: rgb(46, 37, 37);
    border: none;
    border-radius: 5px;
    padding: 0.7em;
    cursor: pointer;
    font-size: 1rem;
    width: auto;
    height: auto;
    font-family: inherit;
}

.easy, .medium, .hard {
font-size: 40px;
cursor: pointer;
color: grey; 
font-family: inherit;
width: 20rem;
}

.easy.selected, .medium.selected, .hard.selected {
	color: black;
  }
  

.main-menu > input {
width: 27rem;
height :2rem;
}

#username {
	font-size: 24px;
	text-align: center;
	font-family: inherit;
}


